<%- include('../partials/head') -%> 

<%- include('../partials/pages-nav') -%> 

        <div class="page-hero-content">
            <h1>Markets</h1>
            <h2>Explore the variety of farmer’s markets St. Augustine, FL has to offer!</h2>
        </div>
    </div>


    <div class="login-container">
        <section class="login-content">
            <h2 class="title">Curious about farmers markets in St. Augustine? Explore below.</h2>
            <p>Below are a list of farmers markets located in St. Augustine, FL. Each offers a variety of unique vendors. Explore at your leisure.</p>
        </section>
        <section class="markets-container">
            <img src="/images/mom-and-daughter-at-market.jpg" alt="veggies for sale at a farmer's market" class="markets-img img-size">
        </section>
    </div>
    <div class="hr-align">
        <hr>
    </div>

    <section class="home-container-text">
        <div class="map-section">
            <div class="map-desc-container">
                <ul class="map-desc-content">
                    <li class="make-it"><i class="fa-solid fa-1"></i><span class="text-width"><a href="https://www.theamp.com/community/farmers-market">St. Augustine Amphitheatre Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-2"></i></i><span class="text-width"><a href="https://www.wednesdaypierfarmersmarket.com/">Wednesday Pier Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-3"></i><span class="text-width"><a href="https://www.vilanobeachfl.com/">Vilano Beach Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-4"></i><span class="text-width"><a href="https://coconutbarrel.com/">Coconut Barrel Farmers Market</a></span></li>
                    <li class="make-it"><i class="fa-solid fa-5"></i><span class="text-width"><a href="https://www.yelp.com/biz/county-line-produce-hastings">County Line Produce</a></span></li>
                </ul>
            </div>
            <iframe src="https://www.google.com/maps/d/embed?mid=1CAyw_nfjnU2M2Ka8zKF2dagYrDOKU-U&ehbc=2E312F" height="500px" width="100%" class="map-container"></iframe>
        </div>
        <hr>
    </section>
    <section class="home-container-text">
        <h2>Directory</h2>
        <% for (market of data) { %>
        <div class="nm-container">
            <h3 class="market-card-headers"><%= market.marketName %></h3>
            <!-- how do I replace these with ejs tags -->
            <div class="nm-content">
                <div class="center">
                    <img src="/images/<%= market.image %>" alt="image of <%= market.marketName %>" class="nm-img">
                </div>
                <div>
                    <h3>About</h3>
                    <p><%= market.description %></p>
                </div>
            </div>
        </div>
        <hr>
        <% } %>
    </section>

<%- include('../partials/footer') -%>